extends layout

block content
  .categories
    h1.categories__heading #{title}
    a(href="/categories/create" class="btn") + Add new category 
    .categories__links-container
      if categories.length 
        each category in categories 
          div.categories__link-wrapper
            a(href=category.url class="categories__link") #{category.name}


