extends layout

block content
  .categories
    h1.categories__heading #{title}
    a(href="/categories/create" class="btn") + Add new category 
    .block-links
      if categories.length 
        each category in categories 
          a(href=category.url class="block-links__link") 
            p.block-links__name #{category.name}


