extends layout

block content
  .categories-page-container
    h1= title 
    a(href="/categories/create" class="btn") + Add new category 
    if categories.length 
      each category in categories 
        div
          a(href=category.url) #{category.name}
          p= category.description


