extends layout

block content
  .main-page 
    .main-page__left-side
      img(src="../images/game-nexus.png", alt="Game Nexus Logo", class="main-page__logo")
    .main-page__right-side
      h1= title
      p A place to view, add and edit available games for sale at the fictional Game Nexus shop.