extends layout

block content
  img(src="../images/game-nexus.png", alt="Game Nexus Logo")
  h1= title
  p Embark on an epic journey through the vast realms of gaming at Game Nexus, where every pixel holds a story and every adventure awaits. As you step through the doors of Game Nexus, you're transported to a realm where imagination knows no bounds and gaming enthusiasts unite. 
  p At the forefront of our digital universe stands our flagship game, 'Chronicles of Nexus,' a sprawling open-world RPG that beckons players to explore its rich landscapes, encounter mythical creatures, and forge alliances in the quest for glory. With stunning graphics, immersive gameplay, and limitless possibilities, 'Chronicles of Nexus' sets the standard for gaming excellence and serves as a gateway to the boundless wonders that await within our store. 
  p Join forces with fellow gamers, challenge your skills in epic battles, and discover new worlds to conquer. Whether you're a seasoned veteran or a novice adventurer, 'Game Nexus' is your ultimate destination for all things gaming. Step into the nexus of gaming excellence and embark on your next great adventure today!
