extends layout

block content
  .main-page-container 
    .left
      img(src="../images/game-nexus.png", alt="Game Nexus Logo", class="main-page-logo")
    .right
      h1= title
      p Embark on an epic journey through the vast realms of gaming at Game Nexus, where every pixel holds a story and every adventure awaits. As you step through the doors of Game Nexus, you're transported to a realm where imagination knows no bounds and gaming enthusiasts unite. 
