doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      nav.header__container 
        a(href="/") 
          img(src="../images/game-nexus-favicon-black.png", alt="Game Nexus Logo" class="header__logo")
        ul.header__links
          li
            a(href="/") Home
          li
            a(href="/games") Games
          li
            a(href="/categories") Categories 
          li
            a(href="/studios") Studios 
    block content
