extends layout

block content
  .page-content
    h1.studios-page__heading Studios 
    a(class="btn" href="studios/create") + Add new studio
    .block-links
      if studios.length 
        each studio in studios 
          a(class="block-links__link" href=studio.url)
            p.block-links__name #{studio.name}



