extends layout

block content
  .studios-page-container
    h1 Studios 
    a(class="btn" href="studios/create") + Add new studio
    .studios-container
      if studios.length 
        each studio in studios 
          div
            a(href=studio.url) #{studio.name}
            p= studio.about



