extends layout

block content
  .studios-page-container
    h1 Studios 
    button.btn + Add new studio
    .studios-container
      if studios.length 
        each studio in studios 
          div
            a(href=studio.url) #{studio.name}
            p= studio.about



